

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{blog_list.title}}{% endblock %}
{%block headcontent%}<link rel="stylesheet" href="{% static 'blog.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <a href="{% url 'home' %}"><h3>{{blog_list.title}}</h3></a>
            <ul class="blog-info-description">
                <li>作者：{{blog_list.author}}</li>
                <li><a href="/blog/type/{{blog_list.blog_type.pk}}">分类：{{blog_list.blog_type}}</a></li>
                <li>创建日期：{{blog_list.created_time|date:"Y-m-d H:i:s"}}</li>
                <li>阅读数：{{ blog_list.ReadNum }}</li>
            </ul>
            <div class="blog-content">{{blog_list.content |safe}}</div>
           

            <div class="more-blogs">
                {% if previous_blog %}
                <p>上一篇：{{ previous_blog.title }}</p>
                {% else %}
                <p>上一篇：没有了</p>
                {% endif %}
                {% if next_blog %}
                <p>下一篇：{{ next_blog.title }}</p>
                {% else %}
                <p>下一篇：没有了</p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="comment-area">
                        <h3 class="comment-area-title">提交评论区域</h3>
                        {% if user.is_authenticated %}
                        {{user}},欢迎评论。
                        <form action="{% url 'update_comment'%}" method="POST">
                            {% csrf_token %}
                            <textarea id="comment-text" name="text"></textarea>
                            <input type="hidden" name="object_id" value="{{ blog_list.pk }}">
                            <input type="hidden" name="content-type" value="blog">
                            <input type="submit" value="评论">
                        </form>
                        {% else %}
                        未登录，登陆后方可评论...
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                        {% endif %}
                    </div>
                    <div class="comment-area">
                        <h3 class="comment-area-title">评论列表</h3>
                        {% for comment in comments %}
                        <div class="comment">

                                {{ comment.user }}
                                {{ comment.comment_time }}:
                                {{ comment.text }}
                                <br>
                             {% for reply_comment in  comment.root_comment.all %}
                            <div class="reply">
                                {{ reply_comment.user }}
                            {{ reply_comment.comment_time }}回复{{ comment.user }}:
                            {{ reply_comment.text }}
                            </div>
                            {% endfor %}
                            </div>
                            {% empty %}
                                暂无评论
                            {% endfor %}
                    </div>
                </div>
            </div>
        </span>
    </div>
    </div>
{% endblock %}