{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}我的网站|注册{% endblock %}
{%block headcontent%}<link rel="stylesheet" href={% static 'home.css' %}>{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}<div class="containter">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form action="" method="POST">
                    {{ registerform }}
                    <input type="submit" value="登录">
        {% csrf_token %}
    </form>
    </div>
</div>
</div>
{% endblock %}